<footer class="footer" id="contact">
  <div class="container-xxl">
    <div class="row g-3 p-2">
      <div
        class="col-md-6 footer__column--info d-flex flex-column gap-4 fw-bold text-capitalize mb-3"
      >
        <h5 class="info__name">coffee shop</h5>
        <p class="info__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          eveniet. ipsum dolor sit amet consectetur adipisicing elit. Illo,
          eveniet.
        </p>
        <p class="info__contact">
          hotline:
          <a href="tel:+8424777888999" target="_blank" class="info__link"
            >024.777.888.999
          </a>
        </p>
        <p class="info__contact">
          email:
          <a
            href="mailto:coffeeshop@gmail.com"
            target="_blank"
            class="info__link text-lowercase"
          >
            coffeeshop&commat;gmail.com
          </a>
        </p>
        <p class="info__contact">
          address:
          <a
            href="https://maps.app.goo.gl/dkH3wZFa7aYAYeYP8"
            target="_blank"
            class="info__link"
          >
            12 trịnh đình thảo, hòa thạnh, tân phú
          </a>
        </p>
      </div>
      <hr class="divider fw-bold text-light d-md-none" style="height: 4px" />
      <div class="col-md-2 col-6 footer__column--links text-capitalize fw-bold">
        <h5 class="footer-links__title">quick links</h5>
        <div class="list-group list-group-flush footer-links__list">
          <a
            href="#home"
            class="list-group-item bg-transparent footer-links__item"
            >home</a
          >
          <a
            href="#about"
            class="list-group-item bg-transparent footer-links__item"
            >about</a
          >
          <a
            href="#product"
            class="list-group-item bg-transparent footer-links__item"
            >product</a
          >
        </div>
      </div>
      <div class="col-md-4 col-6 footer__column--subscribe">
        <h5 class="footer__subscribe-form text-uppercase fw-bold mb-4">
          Subscribe for News
        </h5>
        <form
          [formGroup]="subscribeForm"
          (ngSubmit)="onSubmit()"
          class="subscribe-form text-capitalize mt-3 pe-3"
        >
          <div style="display: flex; align-items: center">
            <div style="flex-grow: 1; margin-right: 10px">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Your Email"
                required
                style="height: 3rem; font-size: 2rem"
              />
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-primary fw-bold"
                [disabled]="!subscribeForm.valid"
                style="height: 3rem; color: 2rem"
              >
                Subscribe
              </button>
            </div>
          </div>
          <div
            *ngIf="submitted && subscribeForm.invalid"
            class="text-danger mt-2 small"
          >
            Please enter a valid email.
          </div>
        </form>
      </div>
    </div>
    <hr class="divider fw-bold text-light" style="height: 4px" />
    <div
      class="row text-center fw-bold text-capitalize"
      style="font-size: 1.6rem; text-shadow: 1px 1px 1px var(--primary-color)"
    >
      <p>design by group 9 | all right reverse</p>
    </div>
  </div>
</footer>
