@media (max-width: 1024px) {
  .about-img {
    max-width: 90%;
  }

  .about-content {
    margin-top: 2rem;
    max-width: 90%;
    text-align: center;
    gap: 1rem !important;
    margin: 2rem 1rem 0;
    text-align: start;
  }

  .about-desc {
    text-align: justify;
  }
}