<section class="about" id="about">
  <div class="container-fluid">
    <div class="row text-center">
      <h3 class="about-heading text-capitalize fw-bold">about us</h3>
    </div>
    <div class="row mt-5">
      <div class="col-md-5 col-12 d-flex justify-content-center about-image">
        <img
          src="../../assets/imgs/about-img.webp"
          alt="about us imgage"
          class="img-fluid about-img"
        />
      </div>
      <div
        class="col-md-7 col-12 d-flex justify-content-center flex-column gap-5 text-capitalize about-content"
      >
        <p class="about-welcome">welcome to our coffee journey</p>
        <h4 class="about-title fw-bold">
          Experience the Art of Coffee Brewing Live
        </h4>
        <p class="about-desc">
          We are passionate about sharing our love for coffee with the world and
          bringing you into the heart of the coffee-making process. Join us as
          we craft each cup with precision, delivering quality and excellence
          every step of the way.
        </p>
      </div>
    </div>
  </div>
</section>
