<nav class="navbar navbar-expand-md fixed-top shadow-lg" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-capitalize fw-bold me-auto" href="#">
      coffee shop
    </a>
    <button
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="bg-transparent d-md-none"
      style="border: none"
      (click)="toggleOpen()"
    >
      <i
        class="bi toggle-icon"
        [ngClass]="ifOpen ? 'bi-toggle2-on' : 'bi-toggle2-off'"
      ></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li
          class="nav-item"
          *ngFor="let item of navItems"
          (click)="setActive(item)"
          [class.active]="item.active"
          [attr.data-target]="item.name"
        >
          <a
            class="nav-link d-flex align-items-center justify-content-between gap-3"
            aria-current="page"
            href="#{{ item.name }}"
          >
            {{ item.name }}
          </a>
        </li>
      </ul>

      <button
        class="login-btn ms-auto"
        (click)="isLoggedIn ? logout() : openLoginModal()"
      >
        <div class="login-btn-text">
          <span class="fw-bolder text-capitalize">
            {{ isLoggedIn ? "Logout" : "Login" }}
          </span>
        </div>
      </button>
    </div>
  </div>
</nav>

<!-- Login Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: isLoginModalOpen }"
  [style.display]="isLoginModalOpen ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #fff9c4; color: #000">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeLoginModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              [(ngModel)]="username"
              name="username"
              placeholder="Please enter your phone number."
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>

          <!-- Error or success message -->
          <div *ngIf="errorMessage || successMessage" class="text-danger">
            {{ errorMessage || successMessage }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          style="background-color: #ffe0b2; color: #000"
          (click)="login()"
        >
          Submit
        </button>

        <!-- Register Button -->
        <button
          type="button"
          class="btn btn-link"
          style="color: #007bff"
          (click)="openRegisterModal()"
        >
          Don't have an account? Register
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Register Modal -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: isRegisterModalOpen }"
  [style.display]="isRegisterModalOpen ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #fff9c4; color: #000">
        <h5 class="modal-title" id="registerModalLabel">Register</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeRegisterModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="registerFullname" class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="registerFullname"
              [(ngModel)]="registerFullname"
              name="registerFullname"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerPhone" class="form-label">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="registerPhone"
              [(ngModel)]="registerPhone"
              name="registerPhone"
              required
            />
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="registerPassword"
              [(ngModel)]="registerPassword"
              name="registerPassword"
              required
            />
          </div>

          <!-- Error or success message -->
          <div
            *ngIf="registerErrorMessage || successMessage"
            class="text-danger"
          >
            {{ registerErrorMessage || successMessage }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          style="background-color: #ffe0b2; color: #000"
          (click)="register()"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Member Modal -->
<div
  class="modal fade"
  id="memberModal"
  tabindex="-1"
  aria-labelledby="memberModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: isMemberModalOpen }"
  [style.display]="isMemberModalOpen ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #fff9c4; color: #000">
        <h5 class="modal-title" id="memberModalLabel">Member Information</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeMemberModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="!loggedInUser">You are not logged in.</div>
        <div *ngIf="loggedInUser">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Full Name:</strong> {{ loggedInUser.fullname }}<br />
              <strong>Accumulated Points:</strong>
              {{ loggedInUser.accumulatedPoints }}<br />
              <strong>Phone Number:</strong> {{ loggedInUser.username }}<br />
              <strong>Membership Level:</strong>
              {{ loggedInUser.membershipLevel }}<br />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
