#navbar {
  text-transform: capitalize;
}

.navbar-brand {
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;
  color: var(--button-color-light);
  text-shadow: var(--text-shadow);
}

.navbar-brand:hover {
  color: var(--beige-light);
}

.toggle-icon {
  font-size: 3rem;
  color: var(--cream);
}

#offcanvasNavbar {
  width: 16rem;
}

.offcanvas-title {
  color: var(--text-color);
}

.nav-link {
  color: var(--text-color-light);
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--text-color-dark);
}

/* navItem */
.nav-item {
  position: relative;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  background-color: var(--button-color-light);
}

.nav-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-item:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-item::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.nav-item::after {
  background-color: var(--button-color-light);
}

.nav-item:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


/* login-btn */
.login-btn {
  position: relative;
  padding: 0.75rem 1.125rem;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.login-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 3.125rem;
  background: var(--orange-light);
  width: 6.6rem;
  height: 3.5rem;
  transition: all 0.3s ease;
}

.login-btn span {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--text-color-light);
  text-transform: capitalize;
  text-shadow: var(--text-shadow);
}

.login-btn svg {
  position: relative;
  top: 0;
  margin-left: 0.625rem;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--text-color-light);
  stroke-width: 0.125rem;
  transform: translateX(-0.3125rem);
  transition: all 0.3s ease;
}

.login-btn:hover:before {
  width: 100%;
  background: var(--orange-light);
}

.login-btn:hover svg {
  transform: translateX(0);
}

.login-btn:active {
  transform: scale(0.95);
}