#navbar {
  text-transform: capitalize;
}

.navbar-brand {
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;
  color: var(--button-color-light);
  text-shadow: var(--text-shadow);
}

.navbar-brand:hover {
  color: var(--beige-light);
}

.toggle-icon {
  font-size: 3rem;
  color: var(--cream);
}

.nav-item {
  padding: 1rem 2rem;
}

.nav-link {
  color: #fff;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #000;
}

/* login-btn */
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--button-color-light);
  color: var(--text-color-dark);
  text-shadow: 1px 1px 1px #fff;
  border: 2px solid #fff;
  outline: 2px solid #000;
  box-shadow: 3px 3px 0 #000;
  transition: all 0.1s ease-out;
  padding: .5rem 1rem;
  position: relative;
  overflow: hidden;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
  z-index: 1;
  transition: none;
  opacity: 0;
}

@keyframes slide {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.login-btn:hover::before {
  opacity: 1;
  animation: slide 2s infinite;
}

.login-btn:hover {
  transform: translate(-4px, -4px);
  box-shadow: 5px 5px 0 #000;
  background-color: #000;
  color: #fff;
}

.login-btn:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0 #000;
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.login-btn-text {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-out;
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.login-btn:hover .login-btn-text {
  transform: skew(-5deg);
}

@media (max-width: 768px) {
  .login-btn {
    margin: 1rem auto 0;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
  }

  .nav-item {
    cursor: pointer;
    padding: 2rem;
    margin: 5px 5px 0 0;
  }

  .navbar-brand {
    margin: 0 auto;
  }
}