<section class="menu" id="product">
  <div class="container-fluid">
    <div class="row text-center">
      <h4 class="heading fw-bold">menu</h4>
    </div>
    <!-- Responsive Dropdown for Small Screens -->
    <div class="row d-md-none px-2">
      <select
        name="responsive-menu"
        id="responsive-menu"
        [(ngModel)]="selectedValue"
        (change)="applyFilter()"
      >
        <option value="">all</option>
        <option value="co">coffee</option>
        <option value="te">tea</option>
        <option value="ic">ice blend</option>
        <option value="tp">topping</option>
        <option value="ca">cake</option>
      </select>
    </div>

    <!-- Sidebar for Desktop Screens -->
    <div class="row">
      <div class="col-md-2 d-none d-md-block mt-5">
        <aside class="sidebar-menu mt-5">
          <ul class="d-flex flex-column gap-3">
            <li>
              <button class="sidebar-menu-item" (click)="applyFilter('all')">
                all
              </button>
            </li>
            <li>
              <button class="sidebar-menu-item" (click)="applyFilter('coffee')">
                coffee
              </button>
              <ul class="sidebar-menu-lv2 mt-3 d-flex flex-column gap-3">
                <li>
                  <button
                    class="sidebar-menu-item"
                    (click)="applyFilter('coffee', 'no-milk')"
                  >
                    no milk
                  </button>
                </li>
                <li>
                  <button
                    class="sidebar-menu-item"
                    (click)="applyFilter('coffee', 'milk')"
                  >
                    milk
                  </button>
                </li>
              </ul>
            </li>
            <li>
              <button class="sidebar-menu-item" (click)="applyFilter('tea')">
                tea
              </button>
              <ul class="sidebar-menu-lv2 mt-3 d-flex flex-column gap-3">
                <li>
                  <button
                    class="sidebar-menu-item"
                    (click)="applyFilter('tea', 'no-milk')"
                  >
                    no milk
                  </button>
                </li>
                <li>
                  <button
                    class="sidebar-menu-item"
                    (click)="applyFilter('tea', 'milk')"
                  >
                    milk
                  </button>
                </li>
              </ul>
            </li>
            <li>
              <button
                class="sidebar-menu-item"
                (click)="applyFilter('ice-blend')"
              >
                ice blend
              </button>
            </li>
            <li>
              <button
                class="sidebar-menu-item"
                (click)="applyFilter('topping')"
              >
                topping
              </button>
            </li>
            <li>
              <button class="sidebar-menu-item" (click)="applyFilter('cake')">
                cake
              </button>
            </li>
          </ul>
        </aside>
      </div>

      <!-- Items Display Section -->
      <div class="col-md-10">
        <div class="row row-cols-2 row-cols-md-4 px-2 mt-2 g-3 list-item">
          <div class="col" *ngFor="let item of filteredItems">
            <div
              class="card"
              (click)="openModal(item)"
              data-bs-toggle="modal"
              data-bs-target="#itemModal"
            >
              <img
                [src]="
                  '../../assets/imgs/menu/' +
                  item.main_group +
                  '/' +
                  item.sub_group +
                  '/' +
                  item.image
                "
                class="card-img-top"
                alt="{{ item.name }}"
              />
              <div class="card-body">
                <h5 class="card-title item-name fw-bold">{{ item.name }}</h5>
                <p class="card-text item-price mt-2">
                  <strong>{{ item.price | number : "1.0-0" }} ₫</strong>
                </p>
                <p class="card-text item-desc mt-2">{{ item.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Floating Cart Button -->
    <button class="btn-cart" (click)="toggleCartModal()">
      <i
        class="bi bi-cart-plus-fill"
        style="color: var(--main-bg-color-dark)"
      ></i>
      <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
    </button>
  </div>
</section>

<!-- Modal for Item Details -->
<div
  class="modal fade"
  id="itemModal"
  tabindex="-1"
  aria-labelledby="itemModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title" id="itemModalLabel">
          {{ selectedItem?.name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <img
              [src]="
                '../../assets/imgs/menu/' +
                selectedItem?.main_group +
                '/' +
                selectedItem?.sub_group +
                '/' +
                selectedItem?.image
              "
              class="img-fluid modal-image"
              alt="{{ selectedItem?.name }}"
            />
          </div>
          <div class="col-8">
            <p class="modal-desc mt-3" style="font-size: 2rem">
              {{ selectedItem?.description }}
            </p>
            <p class="fw-bold" style="font-size: 2rem">
              {{ selectedItem?.price | number : "1.0-0" }} ₫
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="cartBtn" (click)="addToCart()" data-bs-dismiss="modal">
          <svg
            class="cart"
            fill="white"
            viewBox="0 0 576 512"
            height="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
            ></path>
          </svg>
          ADD TO CART
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 640 512"
            class="product"
          >
            <path
              d="M211.8 0c7.8 0 14.3 5.7 16.7 13.2C240.8 51.9 277.1 80 320 80s79.2-28.1 91.5-66.8C413.9 5.7 420.4 0 428.2 0h12.6c22.5 0 44.2 7.9 61.5 22.3L628.5 127.4c6.6 5.5 10.7 13.5 11.4 22.1s-2.1 17.1-7.8 23.6l-56 64c-11.4 13.1-31.2 14.6-44.6 3.5L480 197.7V448c0 35.3-28.7 64-64 64H224c-35.3 0-64-28.7-64-64V197.7l-51.5 43.4c-13.4 11.1-33.2 9.6-44.6-3.5l-56-64c-5.7-6.5-8.7-14.9-7.8-23.6s4.8-16.6 11.4-22.1L138 22.3C155.3 7.9 177 0 199.5 0h12.6z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Cart Modal -->
<div
  class="modal fade"
  id="cartModal"
  tabindex="-1"
  aria-labelledby="cartModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: isCartModalOpen }"
  [style.display]="isCartModalOpen ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Giỏ hàng</h5>
        <button
          type="button"
          class="btn-close"
          (click)="toggleCartModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="cartItems.length === 0">Giỏ hàng của bạn đang trống!</div>
        <div *ngFor="let item of cartItems" class="cart-item">
          <p>
            <strong>{{ item.name }}</strong>
          </p>
          <p>{{ item.price | number : "1.0-0" }} ₫</p>
          <p>{{ item.description }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="toggleCartModal()"
        >
          Đóng
        </button>
        <button type="button" class="btn btn-primary">Thanh toán</button>
      </div>
    </div>
  </div>
</div>
