.menu {
  padding: 7rem 0;
  background: #F1DEC9;
  text-transform: capitalize;
}

.menu a {
  text-decoration: none;
}

.heading {
  font-size: 5rem;
}

.menu select {
  text-transform: capitalize;
  font-size: 2rem;
  border-radius: 2rem;
}

.menu .card {
  background: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
}

.menu .list-item:hover> :not(:hover) {
  opacity: .5;
}

.menu .card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.menu .item-price,
.menu .item-name {
  font-size: 2rem;
}

.menu .item-name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .item-desc {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .item-desc {
  min-height: 2.5rem;
}

.sidebar-menu {
  text-transform: capitalize;
}

.sidebar-menu button {
  border: none;
  background: transparent;
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 1px #D0B8A8;
  font-size: 2rem;
}

.sidebar-menu button:hover {
  color: #AF8F6F;
}

.sidebar-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-menu-lv2 {
  margin-left: 2rem;
}