<section class="menu" id="product">
  <div class="container-fluid">
    <div class="row text-center">
      <h4 class="heading fw-bold">menu</h4>
    </div>
    <div class="row d-md-none px-2">
      <div class="row d-md-none px-2">
        <select
          name="responsive-menu"
          id="responsive-menu"
          (change)="onFilterChange($event)"
        >
          <option value="">all</option>
          <option value="co">coffee</option>
          <option value="te">tea</option>
          <option value="ic">ice blend</option>
          <option value="tp">topping</option>
          <option value="ca">cake</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 d-none d-md-block mt-5">
        <aside class="sidebar-menu mt-5">
          <ul class="d-flex flex-column gap-3">
            <li>
              <button class="sidebar-menu-item">all</button>
            </li>
            <li>
              <button class="sidebar-menu-item">coffee</button>
              <ul class="sidebar-menu-lv2 mt-3 d-flex flex-column gap-3">
                <li>
                  <button class="sidebar-menu-item">no milk</button>
                </li>
                <li>
                  <button class="sidebar-menu-item">milk</button>
                </li>
              </ul>
            </li>
            <li>
              <button class="sidebar-menu-item">tea</button>
              <ul class="sidebar-menu-lv2 mt-3 d-flex flex-column gap-3">
                <li>
                  <button class="sidebar-menu-item">no milk</button>
                </li>
                <li>
                  <button class="sidebar-menu-item">milk</button>
                </li>
              </ul>
            </li>
            <li>
              <button class="sidebar-menu-item">ice blend</button>
            </li>
            <li>
              <button class="sidebar-menu-item">topping</button>
            </li>
            <li>
              <button class="sidebar-menu-item">cake</button>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-md-10">
        <div class="row row-cols-2 row-cols-md-4 px-2 mt-2 g-3 list-item">
          <div class="col" *ngFor="let item of filteredItems">
            <div class="card">
              <img
                [src]="
                  '../../assets/imgs/menu/' +
                  item.main_group +
                  '/' +
                  item.sub_group +
                  '/' +
                  item.image
                "
                class="card-img-top"
                alt="{{ item.name }}"
              />
              <div class="card-body">
                <h5 class="card-title item-name fw-bold">{{ item.name }}</h5>
                <p class="card-text item-price mt-2">
                  <strong>{{ item.price | number : "1.0-0" }} ₫</strong>
                </p>
                <p class="card-text item-desc mt-2">{{ item.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
