@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Great+Vibes&family=Pacifico&display=swap');

:root {
  --main-bg-color-dark: #3E2723;
  --text-color-dark: #3E2723;
  --main-font-family: 'Abhaya Libre', serif;
  --primary-color: #D95B43;
  /* You may adjust this color based on your design needs */
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  max-width: 100dvw;
  overflow-x: hidden;
  font-size: 62.5%;
  height: 100%;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100dvw;
  overflow-y: auto;
  background: #C8B6A6;
  color: var(--text-color-dark);
  font-family: var(--main-font-family);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}